@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
@import "./variables";

.ui_header {
    text-align: right;
    margin-right: 85px;
}
.center {
    text-align: center;
}
//------------------------------------------------------------//

//Styling
body#main-wrapper{
  font: 18px Space mono;
  color: #A17878;
  line-height: 1.3;
  background-color: #fff;
  margin: 0;
  font-family: 'Lato', sans-serif!important;
  .wrapper {
      height: 100%;
      background: url('http://res.cloudinary.com/hchg0ylsc/image/upload/v1507439856/background_i0r0so.jpg') bottom no-repeat transparent;
      background-size: cover;
  }
  &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.1);
      display: block;
      top: 0;
      z-index: -1;
  }
  a{
      text-decoration: none;
      outline: none;
      color: $link-color ;
      transition: all 0.3s ;
  }
  p{
      margin: 0 0 10px;
  }
  img{
      max-width: 100%;
      height: auto;
      width: 100%;
      display: block;
  }
  .video-modal {
    @media (min-width: 768px) {
      .modal-dialog {
        width: 800px;
        margin: 0 auto;
        height: 450px;
        top: calc(50% - 225px)
      }
      .modal-content {
        max-height: 450px;
        .modal-header {
          padding: 0;
          display: inline-block;
          position: absolute;
          right: -20px;
          z-index: 99999;
          border: none;
          top: -8px;
          button {
            color: #fff;
            opacity: 1;
            outline: none;
            font-weight: 300;
          }
        }
      }
      .modal-body {
        padding: 0;

      }
    }
  }

  .intro {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: calc(50% - 300px);
    transform: translateY(-50%);
      h1 {
        color: #ffffff;
        font-weight: bold;
        font-size: 77px;
        text-shadow: #222 5px 5px 8px;
        text-transform: uppercase;
        margin-bottom: 0px;
      }
      h2{
        font-size: 28px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 200;
        margin-top: 0;
      }
     .intro-button {
         margin-top: 70px;
         a {
           background-color: transparent;
           border: 1px solid rgba(255, 255, 255, 0.3);
           color: #fff;
           font-size: 18px;
           padding: 15px 50px;
           font-weight: 300;
           -webkit-transition: all 0.3s;
           transition: all 0.3s;
           cursor: pointer;
           text-transform: uppercase;
           text-decoration: none;
           &:hover {
             border-color: rgba(255, 255, 255, 1);
             outline: none;
             background: #fff;
             color: #000;
           }
             &.demo-btn {
                 margin-left: 30px;
             }
         }
     }
  }
  .clear{
      float: left;
      width:100%;
      clear: both;
  }
  .clearfix{
      clear: both;
      &:after{
          clear: both;
          display: table;
          content: '';
      }
  }

}
#App {
  height: 100%;
  background: $dashboard-color-primary;
  overflow: auto;
}
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
.padding-goto{
  padding-top: 20px;
}
.dashboard-header-image{
  width:50%;
}

.csm-predivtion-results {
  /* max-width: 500px; */
  position: absolute;
  top: 50%;
  left: 50%;
  padding:50px;
  transform: translate(-50% ,-50%);
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  background: #162631;
}
.csm-prediction-left-col {
  width: 0%;
  float: left;
  display: inline-block;
}
.csm-prediction-right-inner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  height: 100%;
  width: 100%;
  max-width: 380px;
  max-height: 500px;
  z-index: 9999;
  a{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff !important;
    font-size: 18px;
    padding: 15px 50px;
    font-weight: 300;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        border-color: white;
        outline: none;
        background: #fff;
        color: #000 !important;
    }
  }
}

.csm-prediction-right-col {
  width: 100%;
  float: left;
  display: inline-block;
  p{
    font-size: 20px;
  }
}
.csm-prediction-right-inner-col {
  color: #fff;
  line-height: 1;
  font-size: 14px;
  font-family: Open Sans Condensed;
  padding: 30px 25px 20px;
  position: relative;
  top: 145px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f7eded;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: 30px 0;
  max-width: 300px;
  max-height: 300px;
  background: #162631;
  p{
    margin: 0;
  }

  &:after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(58, 57, 57, 0.1);
      border-radius: 50%;
  }

}
.csm-prediction-right-inner-col .csm-percentage-result{
  font-size: 125px;
  line-height: 1;
  font-family: Open Sans Condensed;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.csm-prediction-right-inner-col .csm-percentage-result span{
  font-size:65px;
}

@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}
.csm-background-graphs-img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50px;
  opacity: 0.1;
  &.csm-background-graphs-02 {
      top: 50%;
      left: 68%;
      opacity: 0.1;
  }
  &.csm-background-graphs-03 {
      top: 20%;
      left: 80%;
      opacity: 0.1;
  }
  &.csm-background-graphs-04 {
      top: 10%;
      left: 68%;
      opacity: 0.1;
  }
  &.csm-background-graphs-05 {
      top: 60%;
      left: 8%;
      opacity: 0.1;
  }
  &.csm-background-graphs-06 {
    top: 59%;
    left: 6%;
    opacity: 0.05;
    max-width: 250px;
    max-height: 250px;
  }
  &.csm-background-graphs-07 {
    top: 40%;
    left: 49%;
    opacity: 0.1;
  }
  &.csm-background-graphs-08 {
    top: 20%;
    left: 79%;
    opacity: 0.1;
  }
  &.csm-background-graphs-09 {
    top: 45%;
    left: 89%;
    opacity: 0.03;
  }
}
.csm-background-graphs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-content h1 {
    color: #ffffff;
    font-weight: 200;
    text-transform: uppercase;
    position: absolute;
    top: -33px;
}


@media only screen and (max-width: 767px) {
    .csm-predivtion-results{
        padding: 20px;
    }
    .csm-background-graphs-img.csm-background-graphs-06 {
        opacity: 0;
    }
}
