$bgcolor: teal;

body {
  background: $bgcolor;
  h1 {
    text-align: center;
    color: #000;
    font-size: 50px;
    font-variant: georgia,
  }
}
h2{
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.company_form {
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 90px;
}
.ui_header {
  text-align: right;
  margin-right: 85px;
}
.center {
  text-align: center;
}
