$bgcolor: teal;

body {
  background: $bgcolor;
  h1 {
    text-align: center;
    color: #000;
    font-size: 50px;
    font-variant: georgia,
  }
}
h2{
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
