//variables
$font-base: arial;
$link-color: #171717;
$link-hover-color: #171717;
$wrapper-width: 980px;
$navbar-color: #263141;
$dashboard-color-primary: #1B2430;
$dashboard-color-secondary: #303845;
$padding-bottom-footer: 100px;