@import "../variables";
#main-wrapper {
  .history-wrapper {
    background: $dashboard-color-primary;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: $padding-bottom-footer;
    h2 {
      color: #fff;
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
    }
    .history-table {
      .table {
        background: #263141;
        text-align: center;
        border-radius: 0;
        margin-top: 30px;
        thead {
          background: #303d4d;
          border-top: 1px solid;
          border-color: rgba(158, 156, 150, 0.1);
          border-left: none;
          th {
            background: transparent;
            font-weight: 100;
            color: #91ADC5;
            font-size: 17px;
          }
        }
        td {
          color: #fff;
          font-size: 14px;
          border-left: none;
          text-transform: capitalize;
          font-weight: 100;
          border-top: 1px solid rgba(158, 156, 150, 0.1);
          padding-top: 18px;
          padding-bottom: 18px;
          .fa-thumbs-up {
            color: #61bb4a;
          }
          .fa-thumbs-down {
            color: #eb4949;
          }
          .fa {
            font-size: 22px;
            margin-right: 10px;
            cursor: pointer;
            transition:  0.4s ease;
            opacity: .7;
            &:hover {
              opacity: 1;
            }
          }
        }
        th,td {
          &:first-child {
            padding-left: 30px;
          }
          &:last-child {
            padding-right: 30px;
          }
        }
      }
    }
  }
}

.fa-icon-disabled {
  pointer-events: none;
  opacity: 0.2 !important
}

.fa-icon-hide {
  opacity: 0 !important;
}
